<a href="javascript:void(0)" (click)="open(mymodal)">Add New Question</a>

    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add a New Questions</h4>
            
        </div>
        <form [formGroup]="newQuestionForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <select class="custom-select form-control" id="inputGroupSelect01" formControlName="selectedValue"
                    (change)="onSelectChange($event)">
                    <option *ngFor="let type of listType" [value]="type.value">{{type.name}}</option>
                </select>
                <input class="form-control" placeholder="Type question here" formControlName="questionContent" />

                <div *ngIf="select === 'checkbox'">
                    <div formArrayName="aliases">
                        <div *ngFor="let alias of aliases.controls; let i=index">
                            <input class="form-control" placeholder="Add Answer Option" id="alias-{{ i }}" type="text"
                                [formControlName]="i">
                        </div>
                        <div *ngIf="aliases.controls.length < 5">
                            <button class="form-control" type="button" (click)="addAlias()">+ Add another alias</button>
                        </div>
                    </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input form-control" id="exampleCheck1"
                        formControlName="otherAnswer">
                    <label class="form-check-label" for="exampleCheck1">Allow user to specify their own answer</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input form-control" id="exampleCheck1"
                        formControlName="required">
                    <label class="form-check-label" for="exampleCheck1">This field is required</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
            </div>
        </form>

    </ng-template>